registry=https://nexus.company.com/repository/npm-group/

//nexus.company.com/repository/npm-group/:username=your_username
//nexus.company.com/repository/npm-group/:_password=BASE64_PASSWORD
//nexus.company.com/repository/npm-group/:email=your@email.com
//nexus.company.com/repository/npm-group/:always-auth=true
